.checkoutPage {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
}

.left {
  flex: 1;
  border-right: 1px solid #ccc;
  padding-right: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding-left: 1rem;
}

.cartItem {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.orderPlaced {
  text-align: "center";
  padding: "2rem";
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
