.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 1rem;
}

.tags {
  margin: 6px 0px;
}

.tags span {
  background: #eee;
  padding: 4px 8px;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  font-size: 12px;
}

.prices {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.old {
  text-decoration: line-through;
  margin-right: 10px;
  color: #999;
}

.new {
  color: green;
  font-weight: bold;
}

.buttons {
  display: flex;
  padding: 1rem;
  gap: 4px;
  justify-content: space-between;
}
